<div class="navbar">
  <div class="navbar-inner">
    <div class="fluid-container">          
      <a class="brand" href="#">采集零距离</a>
      <ul class="nav tabs">
        <li> <a  href="/cargo_rules">货源采集</a></li>
        <li> <a  href="/truck_rules">车源采集</a></li>
        <li> <a  href="/contact_rules">联系采集</a></li>        
      </ul>
    </div>
  </div>
</div>